.control {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  height: 44px;
  outline: none;
  border: 1px solid grey;
  font-size: 16px;
}

.control:focus {
  border: 1px solid #271d1d;
}

.control::placeholder {
  color: grey;
}

.control:disabled {
  background: #d3d3d3;
}

.hint {
  font-size: 12px;
  margin: 6px 0 0 0;
  font-weight: bold;
}
